node_modules
.next
out
build
.env
.env.local
.env.production
__pycache__
*.pyc
*.pyo
venv/
.venv/
env/
.vercel
.turbo
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
.vercel
.env*
